{{> menu id="about" }}

<div class="ui centered card">
  <div class="image">
    <img src= {{employee.image}}>
  </div>
  <div class="content">
    <a class="header"> {{employee.fullname}} </a>
    <div class="meta">
      <span class="date">Joined in {{employee.joined}} </span>
    </div>
    <div class="description">
        is a {{employee.job}}  living in {{employee.city}} .
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="user icon"></i>
        {{employee.mates}} contacts
    </a>
  </div>
</div>